@page
@model CandidateManagement_DuyNMSE173649.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<form method="post" class="login-form">
    <input type="text" name="username" class="Email"><br />
    <input type="text" name="password" class="Password"><br />
    <button type="submit">Login</button>
</form>
